

.my-activities {
  display: flex;
  align-items: center;
  margin:16px 0 8px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1.2px;
}

.my-activities img{
  width: 24px;margin-right:4px; 
  object-fit: contain;
}

.event-card {
  border-radius: 8px;
  border: 1px solid rgba(218, 184, 102, 1);
  background-color: #fcfaf3;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 8px;
}

.event-image {
  object-fit: cover;
  width: 100%;border-radius:4px;
}

.event-title {
  font-weight: 600;
  font-size: 18px;
  font-family: Noto Sans, sans-serif;
  margin-top: 4px;
}

.event-tag {
  font-family: Noto Sans, sans-serif;word-break: break-word;display: inline-block;
  justify-content: center;
  border-radius: 4px;
  background-color: rgba(22, 24, 25, 0.12);
  align-self: start;
  margin-top: 4px;
  white-space: normal;
  letter-spacing: 0.96px;
  padding: 2px 8px;
}

.event-details {
  display: flex;
  margin-top: 8px;
}

.event-icon {
  width:20px;height:20px;position: relative;top: 1;
}


.events-container {
  display: flex;
  width: 100%;
  flex-direction:column;
}
.events-container article:last-child{margin-bottom:0px;}

.activity-button {
  border-radius: 20px;
  background-color: rgba(0, 85, 158, 0.08);
  margin: 18px auto 0;
  color: #161819;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.96px;
  padding: 8px 32px;
  font: 500 16px "Noto Sans TC", sans-serif;
  cursor: pointer;
}

.activity-list .activities-content{margin-bottom:12px;}


.activities-box{padding:0 4px 0 16px;display:flex;overflow-x: scroll;box-sizing: border-box;width:100%;}
.activities-box::-webkit-scrollbar {display: none;}
.activities-content {
  display: flex;min-width:300px;/*min-width:224px;*/display: block;
  flex-direction: column;
  font-size: 16px;
  padding:12px;
  border-radius: 8px;
  border: 1px solid rgba(22, 24, 25, 0.2);
  background-color: #fff;
  font-weight: 400;
}

.event-title {
  letter-spacing: 1.08px;
}

.event-tag {
  justify-content: center;margin-right:4px; 
  border-radius: 4px;
  background-color: rgba(22, 24, 25, 0.12);
  margin-top: 8px;color: #161819;
  white-space: nowrap;
  padding: 2px 8px;
}

.event-datetime {
  align-self: start;
  display: flex;
  margin-top: 12px;
  gap: 4px;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.84px;
}

.event-datetime-icon {
  object-fit: auto;
  object-position: center;
  width: 20px;
}

.event-datetime-text {
  font-family: Noto Sans, sans-serif;
}

.event-location {
  align-self: start;
  display: flex;
  margin-top: 4px;
  gap: 4px;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.84px;
}

.event-location-icon {
  object-fit: auto;
  object-position: center;
  width: 20px;
}

.event-location-text {
  font-family: Noto Sans, sans-serif;
}

.event-registration-period {
  justify-content: center;
  border-radius: 4px;
  background-color: rgba(0, 85, 158, 0.08);
  margin-top:8px;
  text-align:left;
  letter-spacing: 0.56px;
  padding: 4px;
  font: 14px Noto Sans, sans-serif;
}



.announcement-section {
  background-color: rgba(222, 228, 234, 0.4);
  padding: 0 16px 80px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-header {
  display: flex;
  align-items: center;
  padding: 32px 0 8px;
  font: 500 20px Noto Sans TC, sans-serif;
  color: #000;
  letter-spacing: 1.2px;
  white-space: nowrap;
}

.header-icon {
  width: 24px;
  object-fit: auto;margin-right:4px; 
  object-position: center;
}

.announcement-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
  border: 1px solid rgba(22, 24, 25, 0.2);
  border-radius: 8px;
  background-color: #fff;margin-bottom:8px; 
}
.announcement-card div:last-child{margin-bottom:0px;}

.card-header {
  display: flex;
  gap: 11px;
  font: 400 16px Noto Sans TC, sans-serif;
  white-space: nowrap;
}

.announcement-date {
  margin: auto 0;
  color: #000;
  font-family: Noto Sans TC, sans-serif;
  letter-spacing: 0.96px;
  flex-grow: 1;
}

.announcement-category {
  padding: 2px 6px;
  border-radius: 14px;
  background-color: #dab866;
  color: #fff;
  font-family: Noto Sans TC, sans-serif;
  text-align: center; 
  letter-spacing: 0.64px;
  justify-content: center;
}

.announcement-title {
  margin-top: 11px;
  color: #000;
  font: 500 18px Noto Sans TC, sans-serif;
  letter-spacing: 1.08px;
}

.more-link {
  margin: 16px auto 32px auto;
  padding: 8px 32px;
  border-radius: 20px;
  background-color: rgba(0, 85, 158, 0.08);
  align-self: center !important;
  color: #161819;
  text-align: center;
  white-space: nowrap;width:220px;
  align-items: center;display:block;
}