.container {
  background-color: #fff;
  max-width: 480px;
  width: 100%;
  font-size: 16px;
  color: rgba(22, 24, 25, 0.8);
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.96px;
  margin: 0 auto;
  padding: 80px 0;
}

.background-wrapper {
  background-blend-mode: darken;
  overflow: hidden;
  position: relative;
  aspect-ratio: 0.79;
  width: 100%;
  padding: 0 32px 80px;
}

.background-image {
  position: absolute;
  inset: 0;background: url(../images/login-bg.png) no-repeat;
  height: 100%;background-size: cover;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.logo-image {
  object-fit: auto;
  object-position: center;
  width: 261px;
  align-self: center;
  max-width: 261px;
}



.login-input {
  font-family: Noto Sans, sans-serif;
  border-radius: 8px;
  border: 1px solid rgba(22, 24, 25, 0.5);
  background-color: #fff;
  margin-top: 8px;
  color: rgba(22, 24, 25, 0.5);
  padding: 12px;width:100%;
}


.confirm-button {
  font-family: Noto Sans TC, sans-serif;
  border-radius: 21px;
  background-color: #00559e;
  color: #fff;
  text-align: center;
  margin: 28px 0 14px;
  padding: 8px 24px 9px;
}

.login-logo{width:260px;margin:48px auto;display: block;}